body { 
    margin: 0;
    background: #ffc4fc;
    text-align: center;
}
h1 {
    font-family: 'Courier';
    color: #9af59d;
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 10px;
}

.my-button {
    background-color: #9af59d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}