body { 
    margin: 0;
    background: #e9c8d2;
    text-align: center;
}
h1 {
    color: #78b87a;
    font-family: 'Courier';
    font-size: 80px; 
    font-weight: 600;
    margin-bottom: 12px;
}

.my-button {
    background-color: #78b87a;
    border: none;
    color: #f1b2c6;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Courier';
    font-size: 30px;
    font-weight: 700;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
}